.ul-inline{
    background-color: aqua;
    width: 25%;
}

.ul-inline li{
    display: inline;
    background-color: blue;
}

.ul-inline-block{
    background-color: green;
    width: 100%;
}

.ul-inline-block li{
    display: inline-block;
    background-color: bisque;
    padding: 15px;
    width: 15%;
    text-align: center
}

.ul-block{
    background-color: black;
    width: 100%;
}

.ul-block li{
    display: block;
    background-color: antiquewhite;
    width: 15%;
    padding: 15px;
    text-align: center;
}